---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section style="margin-bottom: 50px;">
    <div class="container">
        <Feature icon="mdi:about" title="About">
          I specialize in making technology human — enabling developers to understand, adopt, and adore technical products. My work in the open-source community has helped me hone my developer skills, which has made it possible for me to transition from developer relations to full-time software development. Bringing prior skills in project management allows me to maintain highly organized planning and execution.
        </Feature>
      </div>
    </div>
  </section>

</DefaultLayout>

