---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section>
    <div class="container">
      
        
        <Feature title="About">
          I specialize in making technology human — enabling developers to understand, adopt, and adore technical products. My work in content marketing, partnerships, and community building allows me to improve brand visibility, position companies and leaders within the industry, and widen the adoption of products and services.
Whether I’m solving problems through code, sharing knowledge with others, or learning on Teach Jenn Tech livestream or hosting Shit2TalkAbout podcast, I am a passionate advocate for social justice in the tech industry, striving to create inclusive spaces where everyone feels heard.
        </Feature>
      </div>
    </div>
  </section>
 
</DefaultLayout>
