---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} -  Made with ❤️ by <a
          href="https://github.com/jennjunod">Jenn Junod</a
        >.
      </p>
    </div>
  </section>
</footer>
